{{ define "project-page" }}
{{ template "header" . }}
{{ $project := .Project }}
{{ $user := .User }}
<section id="tasks-cards">
	<article id="stats-card">
		<h2>Project stats</h2>
	</article>
	{{ range .Project.Tasks }}
	<article style="background: {{ .Color }};">
		<h2>{{ .Description }}</h2>
	</article>
	{{ end }}
</section>
<section>
	<aside>
		<p class="project-description">{{ .Project.Description }}</p>
		<p>
			<time datetime="{{ .Project.CreationDate | formDate }}">{{ .Project.CreationDate | prettyDate }}</time>
			—
			<time datetime="{{ .Project.TargetDate | formDate }}">{{ .Project.TargetDate | prettyDate }}</time>
			<br>
			{{ with .Project.DaysLeft }}{{ if ge . 0 }}{{ . }} days left{{ else }}late: {{ . }} days{{ end }}{{ end }}
		</p>

		<h3>users</h3>
		<ul>
		{{ range .Project.Users }}
			<li>
				{{ if $user }}{{ if eq $user.ID .ID }}<strong>me&gt;</strong>{{ end }}{{ end }} {{ if .IsAdmin }}&#128081;{{ end }} {{ .Name }}
				{{ if $user }}{{ if $user.IsAdmin }}<input type="text" readonly value="https://autochrone.herokuapp.com/{{ $project.Slug }}/?auth={{ .Slug }}">{{ end }}{{ end }}
			</li>
		{{ else }}
			<li><em>no users</em></li>
		{{ end }}
		</ul>
		<h3>measures</h3>
		<ul>
		{{ $mt := .Project.MeasuresTotals }}
		{{ range .Project.Measures }}
			<li>
				<kbd>[{{ .Code }}]</kbd> {{ .Name }}:
				{{ if (eq .Unit "minutes") }}{{ index $mt .ID | prettyMinutes }}{{ else }}{{ index $mt .ID }}{{ end }}
				{{ .Unit }} {{ if .HasMin }}/ {{ .Goal }}{{ else if .HasMax }}(stay under {{ .Goal }}){{ end }}
			</li>
		{{ else }}
			<li><em>no measures</em></li>
		{{ end }}
		</ul>

		{{ if .User }}{{ if .User.IsAdmin }}
		<h4>add user</h4>
		<form action="#" method="post">
			<input type="hidden" name="query" value="new-user">
			<label>name (required)
				<input type="text" maxlength="140" placeholder="J.R.R. Tolkien" name="name" required>
			</label>
			<label>admin
				<input type="checkbox" name="is-admin">
			</label>
			<button type="submit">add user</button>
		</form>

		<h4>add measure</h4>
		<form action="#" method="post">
			<input type="hidden" name="query" value="new-measure">
			<label>code (technical, must be unique)
				<input type="text" maxlength="42" placeholder="harvest" name="code" required>
			</label>
			<label>name
				<input type="text" maxlength="140" placeholder="Pumpkins harvested this year" name="name" required>
			</label>
			<label>unit
				<input type="text" maxlength="42" placeholder="pumpkins" name="unit" required>
			</label>
			<label>goal type
				<select name="goal-direction" required>
					<option value="none" selected>none</option>
					<option value="min">min (I must be over this value)</option>
					<option value="max">max (I must be under this value)</option>
				</select>
			</label>
			<label>goal
				<input type="number" step="1" name="goal" placeholder="0">
			</label>
			<button type="submit">add measure</button>
		</form>
		{{ end }}{{ end }}
	</aside>

	<article>
		<h3>notes</h3>
		{{ if .User }}
		<h4>add note</h4>
		<form action="#" method="post">
			<input type="hidden" name="query" value="new-note">
			{{ range $measureId, $value := $project.Measures }}
			{{ $measure := index $project.Measures $measureId }}
			<label>[{{ $measure.Code }}] {{ $measure.Name }} <em>({{ $measure.Unit }})</em>
				<input type="number" step="1" name="measure-{{ $measure.ID }}" placeholder="0">
			</label>
			{{ end }}
			<label>comment
				<textarea cols="70" name="comment" placeholder="how’s your magic?" maxlength="1000" required></textarea>
			</label>
			<button type="submit">add note</button>
		</form>
		{{ end }}
		<hr>
		<table>
			<thead>
				<tr><th>user</th><th>date</th><th>comment</th><th>progress</th></tr>
			</thead>
			<tbody>
			{{ range .Project.Notes }}
				<tr>
					<td>{{ (index $project.Users .UserID).Name }}</td>
					<td>{{ .CreationDate | prettyDateTime }}</td>
					<td>{{ .Comment }}</td>
					<td>
						<table>
						{{ range $measureId, $value := .MeasuresValues }}
							{{ $measure := index $project.Measures $measureId }}
							<tr><td><kbd title="{{ $measure.Name }} ({{ $measure.Unit }})">[{{ $measure.Code }}]</kbd> {{ if (eq $measure.Unit "minutes") }}{{ $value | prettyMinutes }}{{ else }}{{ $value }}{{ end }}</td></tr>
						{{ end }}
						</table>
					</td>
				</tr>
			{{ else }}
				<tr><td colspan="4"><em>no notes</em></td></tr>
			{{ end }}
			</tbody>
		</table>
	</article>
</section>
{{ template "footer" }}
{{ end }}
